@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ✅ Remove a barra de rolagem horizontal, mas mantém a rolagem funcionando */
.scrollbar-hidden {
  overflow-x: auto; /* Mantém a rolagem funcional */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */
  scrollbar-width: none; /* Para Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari e Edge */
}
